.heart{
    
    color: rgb(255, 255, 255);
    width: 30px;
    height: 25px;
    margin-top: 5px;
  }
  
.heart-like {
      color: red;
      width: 30px;
      height: 25px;
      margin-top: 5px;
  }

.Button{
    box-shadow: 0 0 3px #8a8a8a;
    border: none;    
    padding: 5px 5px;
    border-radius: 50%;
}

.Button--close{  
    box-shadow: 0 0 3px #1a1a1a;      
    border: none;    
}

.box{
    display: flex;
    justify-content: space-around;    
    max-width: 1200px;
    width: 100%;
    margin: 100px auto;
    box-shadow: 0 0 5px #d3d3d3;
}

.box h2{
    margin-top: 50px;
    margin-bottom: 10px;
}

.box p{
    margin-top: 10px;
    font-size: 10px;
}

.box .input{
    width: 60px;
    height: 20px;
    margin-left: 10px;
    margin-right: 20px;
    text-align: center;
}

.box select{
    width: 60px;
    height: 30px;
    margin-left: 10px;
    text-align: center
}
.icon{
    position: absolute;
    width: 10px;
    height: 10px;
    font-size: 20px;
}


.img{
    width: auto;
    height: 300px;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 50px;
    margin-bottom: 50px;    
}

.text{    
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-text{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 50px;
    margin-bottom: 50px;  
}

.inputBox {    
    height: 40px;
    width: 250px;       
    font-size: 15px;    
    border-radius: 20px;
    text-align: center     
  }

.details{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
}

.calendarWrap {  
    height: 30px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;    
    display: inline-block;
    position: relative;
  }

.calendarElement {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    border: 1px solid #ccc;
    z-index: 999;
  }

.box-product{
    position: absolute;
    width: auto;
    height: 20px;
    flex-wrap: wrap;
}

 
